#Archivos sensibles
#.env
#Subidas (mantener carpetas pero ignorar archivos dentro)
# Ignorar todo dentro de public/uploads, excepto subdirectorios
public/uploads/**
!public/uploads/dni/
!public/uploads/**/.gitkeep

#Archivos del sistema / IDE
node_modules/
.DS_Store
.vscode/
*.log

#Build output y temporales
dist/
build/
tmp/
.cache/

