/* Configuración general */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(252, 252, 252); /* Fondo gris */
    display: flex;
    flex-direction: column; /* Organizar en columnas */
    min-height: 100vh; /* Asegura que el body ocupe toda la pantalla */
}

/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2em;
}

.h1 {
 color: black;
    
}
/* Contenedor principal */
main {
    margin-top: 80px; /* Ajuste del margen debajo del header */
    flex: 1; /* Permite que main ocupe todo el espacio disponible */
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem; /* Espacio extra para evitar solapamiento del footer */
}

/* Estilos para el footer */
footer {
    background: #111827; /* Color oscuro */
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; /* Hace que el footer se pegue al final sin montarse */
    width: 100%;
}

/* Estilos de la cuadrícula de categorías */
.category-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Hace que las categorías sean responsivas */
    gap: 20px;
    justify-content: center;
}

.category-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Para que no se encojan los elementos */
}

.category-item:hover {
    transform: scale(1.05);
}

.category-item img {
    width: 100%;
    height: 200px; /* Tamaño uniforme */
    object-fit: cover;
    border-radius: 8px;
}

.category-item p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}


.anuncio-imagen {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    max-width: 400px; /* Establece un ancho máximo para que no se agrande demasiado */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Evita espacios extra */
    margin: 0 auto; /* Centra la imagen */
    border-radius: 10px; /* Bordes redondeados opcionales */
    object-fit: cover; /* Ajusta la imagen sin distorsionar */
}
